{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
        <h1>Блюда</h1>
        <a href="{% url 'add_dish' %}" class="btn btn-warning">Добавить блюдо</a>
        {% if dishs %}
        {% for el in dishs %}
            <div class = "dish">
                <h3>{{ el.title }}</h3>
                <p>{{ el.price }}</p>
                {% if el.is_available %}
                <p class="av_el">Доступно</p>
                {% else %}
                <p class="notav_el">Не доступно</p>
                {% endif %}
                <a href="{% url 'dish-update' el.id %}" class="btn btn-info">Изменить блюдо</a>
            </div>
        {% endfor %}
    {% else %}
            <p>У вас нет записей!</p>
    {% endif %}
{% endblock %}